/**
 * Specific styles for the app
 */

html {
  font-size: 20px;
}

/* CARD STYLES */

.card-face {
  margin-top: -15%;
  width: 120%;
  margin-left: -10%;
}

.card {
  overflow: hidden;
  opacity: 0.85;
  transition: opacity 0.3s;
}

.card:hover {
  opacity: 1;
}

.card-counter {
  position: absolute;
  top: 5%;
  left: 70%;
  text-align: right;
  transition: opacity 0.3s , color 0.3s;
  opacity: 1;
  word-wrap: normal;
  color: yellow;
  font-size: 40px;
  line-height: 1;
  font-weight: bold;
  padding-right: 5%;
}

/* TABLE STYLES */

.cell-center {
  text-align: center;
}

tr .card-popover {
  display: none;
  position: absolute;
  width: 60%;
  left: 40%;
}

tr:hover .card-popover {
  display: block;
}

tr .card-delete {
  display: none;
}

tr:hover .card-delete {
  display: inline;
}