/**
 * Specific styles for the app
 */

html {
  font-size: 20px;
}

/* CARD STYLES */

.card-face {
  margin-top: -15%;
  width: 120%;
  margin-left: -10%;
}

.card {
  overflow: hidden;
  opacity: 0.85;
  transition: opacity 0.3s;
}

.card:hover {
  opacity: 1;
}


/* TABLE STYLES */

.cell-center {
  text-align: center;
}

.deck-table tr .card-popover {
  display: none;
  position: absolute;
  width: 60%;
  left: 40%;
  z-index: 100;
}

.deck-table tr:hover .card-popover {
  display: block;
}

.deck-table tr .deck-table-link {
  display: none;
}

.deck-table tr:hover .deck-table-link {
  display: inline;
}