<div class="row">

	<div class="col-xs-12" ng-repeat="deck in dashboard.deckData.decks">

		<div class="col-xs-8">
			<h4>{{deck.deckName}}</h4>
		</div>

		<div class="col-xs-4">
			<button class="btn btn-danger" ng-click="dashboard.deleteDeck(deck)">Delete</button>
			<button class="btn btn-primary" ng-click="dashboard.showDeckStats(deck.$id)">Stats</button>
			<button class="btn btn-primary" ng-click="dashboard.editDeck(deck.$id)">Edit</button>
		</div>

	</div>
</div>

<form>
	<div class="form-group">
		<a class="btn btn-primary" ng-href="#/create">Create new deck</a>
	</div>
</form>