<div class="row">

	<div class="col-xs-12" ng-repeat="deck in dashboard.deckData.decks">

		<div class="col-xs-8">
			<h4>{{deck.deckName}}</h4>
		</div>

		<div class="col-xs-4">
			<a href ng-click="dashboard.deleteDeck(deck)">Delete </a> 
			<a href ng-click="dashboard.showDeckStats(deck.$id)"> Stats </a>
			<a href ng-click="dashboard.editDeck(deck.$id)"> Edit</a>
		</div>

	</div>
</div>

<form>
	<div class="form-group">
		<a class="btn btn-primary" ng-href="#/create">Create new deck</a>
	</div>
</form>