<div class="container">

<div class="row">
    
    <div class="col-xs-4">

        <deck insert-deck="editor.deckData.currentDeck"></deck>
        
        <div class="col-xs-12">
            <div google-chart chart="editor.deckData.currentDeck.chartData.mana"></div>
        </div>

    </div>

    <div class="col-xs-8">

        <div class="col-xs-12">
            <h4>Search for cards</h4>

            <search-form fixed-class="editor.deckData.currentDeck.playerClass"></search-form>

        </div>

        <div ng-show="editor.cardData.cards.length">

            <div ng-hide="filteredCards.length">No cards to show. Try refining your search!</div>
            
            <div class="col-xs-12" ng-hide="!filteredCards.length">
                <h3>{{editor.deckData.currentDeck.playerClass}} Cards</h3>
            </div>

            <hearthstone-card 
                card = "card"
                class = "col-xs-4 card" 
                ng-repeat = "card in filteredCards = (editor.cardData.cards | filter: editor.cardSearch.criteria.searchQuery)| 
                    orderBy: 'cost' | 
                    class: editor.deckData.currentDeck.playerClass | 
                    set: editor.cardSearch.criteria.sets |
                    gem: editor.cardSearch.criteria.rarities |
                    type: editor.cardSearch.criteria.types"
                ng-click = "editor.addCard(card)"
                ng-hide = "card.deckCount == 2"
                >
            </hearthstone-card>

        </div>

        <div ng-show="editor.cardData.cards.length">
            <div class="col-xs-12" ng-hide="!filteredCards.length">
                <h3>Neutral Cards</h3>
            </div>

            <hearthstone-card
                card = "card" 
                class = "col-xs-4 card" 
                ng-repeat = "card in filteredCards = (editor.cardData.cards | filter: editor.cardSearch.criteria.searchQuery)| 
                    orderBy: 'cost' | 
                    class: 'Neutral' | 
                    set: editor.cardSearch.criteria.sets |
                    gem: editor.cardSearch.criteria.rarities |
                    type: editor.cardSearch.criteria.types "
                ng-click = "editor.addCard(card)"
                ng-hide = "card.deckCount == 2"
                >
            </hearthstone-card>

        </div>

        <div ng-hide="editor.cardData.cards.length">
            Retrieving card data...
        </div>

    </div>

</div>
</div>