<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#/">Deckbuilder</a>
    </div>
    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav">
        <li><a ng-href="#/search" ng-hide="navigation.path == '/search' || navigation.path == '/login'">Search Cards</a></li>
        <li><a ng-href="#/stats" ng-show="navigation.path == '/editor'">Deck Stats</a></li>
        <li><a ng-href="#/editor" ng-show="navigation.path == '/stats'">Edit Deck</a></li>
        <li class="dropdown" ng-hide="navigation.path == '/dashboard' || navigation.path == '/search' || navigation.path == '/create' || navigation.path == '/login'">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Switch deck <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="deck in navigation.deckData.decks"><a href ng-click="navigation.deckData.loadDeck(deck.$id)" ng-hide="deck.$id == navigation.deckData.currentDeck.$id">{{deck.deckName}}</a></li>
            <li role="separator" class="divider" ng-hide="navigation.deckData.decks.length == 1"></li>
            <li><a href="#/create">Create new deck</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href ng-hide="navigation.path == '/login'">{{navigation.auth.user.email}}</a></li>
        <li><a href ng-click="navigation.auth.logoutUser()" ng-hide="navigation.path == '/login'">Logout</a></li>
      </ul>
    </div>
  </div>
</div>