<div class="row">
	<div class="col-xs-12"><h3>{{stats.deckData.currentDeck.deckName}}</h3></div>
	<div class="col-xs-12" ng-show="!stats.deckData.currentDeck.stats">No stats to show. <a href="#/editor">Try adding some cards to the deck!</a></div>
	<div class="col-xs-6">
		<div google-chart chart="stats.deckData.currentDeck.chartData.mana"></div>
	</div>
	<div class="col-xs-6">
		<div google-chart chart="stats.deckData.currentDeck.chartData.type"></div>
	</div>
	<div class="col-xs-6">
		<div google-chart chart="stats.deckData.currentDeck.chartData.gems"></div>
	</div>
	<div class="col-xs-6">
		<div 
			google-chart chart="stats.deckData.currentDeck.chartData.abilities"
			ng-show="stats.deckData.currentDeck.chartData.abilities.data">
		</div>
		<div ng-hide="stats.deckData.currentDeck.chartData.abilities.data">
			<small>No cards with Taunt, Battlecry, Charge, Deathrattle, Inspire or Windfury ability. <a href="#/editor">Try adding some to the deck!</a></small>
		</div>
	</div>
	<div class="col-xs-6">
		<div 
			google-chart chart="stats.deckData.currentDeck.chartData.races"
			ng-show="stats.deckData.currentDeck.chartData.races.data">
		</div>
		<div ng-hide="stats.deckData.currentDeck.chartData.races.data">
			<small>No cards with special race. <a href="#/editor">Try adding some to the deck!</a></small>
		</div>
	</div>
</div>